.bg-warna-satu{
    background-color:#0d0d0d;
}

.bg-warna-dua{
    background-color: #333333;
}

.bg-warna-tiga{
    background-color: #F31559;
}

.text-putih{
    color: #EEEEEE;
}

.text-warna-tiga{
    color: #F31559;
}