.bg-biru{
    background-color: #293140;
}

.bg-merah{
    background-color: #F45050;
}

.bg-biru-laut{
    background-color: #191E2D;
}

.text-putih{
    color: #ffffff;
}

.text-merah{
    color: #F45050;
}